<script src="{{ asset('bundles/chuckkihvziframe/js/datepicker-de.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/chuckkihvziframe/js/form-prefiller.js') }}"></script>


<script>


    let inputEl = $(".formbody input");
    let dateInputEl = $("#ctrl_startDateInput");
    let picker = $(".datepicker__modal");

    $(function () {
        inputEl.each(function (e) {
            if ($(this).val() && $(this).val() !== '') {
                $(this).parent().removeClass('empty');
                $(this).addClass('hasValue');
            }
        })
    });

    inputEl.focus(function () {
        $(this).parent().removeClass('empty');
    });

    inputEl.on("change focusout", function () {
        if (!$(this).val() || $(this).val() === '') {
            $(this).parent().addClass('empty');
            $(this).removeClass('hasValue');
        } else {
            $(this).parent().removeClass('empty');
            $(this).addClass('hasValue');
        }
    });

    function cancelSelection() {
        if (dateInputEl.val() !== '') {
            dateInputEl.parent().removeClass('empty');
        }
        picker.hide();
    }

    dateInputEl.click(function () {
        picker.show();
        picker.focus();
    });


    $("#ctrl_gender").on("change", function () {
        let el = $("#genderIcon");
        el.removeClass('fa-genderless');
        if ($(this).val() === 'Herr') {
            el.addClass('fa-male');
            el.removeClass('fa-female');
        } else {
            el.addClass('fa-female');
            el.removeClass('fa-male');
        }
    });


    $("#ctrl_hvzCarType").on("input", function () {
        let el = $("#hvzCarType");
        el.removeClass('fa-truck-moving');
        if ($(this).val() === 'pkw') {
            el.addClass('fa-car-side');
            el.removeClass('fa-truck-moving');
        } else {
            el.addClass('fa-truck-moving');
            el.removeClass('fa-car-side');
        }
    });


    //Preis berechnen

    $('#ctrl_extraTag, #ctrl_hvzType').on('change', function () {
        updatePrice()
    });

    function updatePrice() {
        let startDate = $("#ctrl_startDateInput");
        let priceData = {
            'hvzId': '{{ hvz.id }}',
            'extraTag': $("#ctrl_extraTag option:selected").val(),
            'hvzType': $("#ctrl_hvzType option:selected").val(),
            'startDate': startDate.val()
        };

        if (startDate.val() !== '') {
            $("#orderOverview").load("/extern/getprice/{{ hvz.id }}", priceData);
        }
    }

</script>

<form method="POST" enctype="application/x-www-form-urlencoded">
    <div class="formbody">
        <input type="hidden" name="FORM_SUBMIT" value="{{ hvzForm.FormId }}">
        <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">

        <fieldset id="hvzAdresse" class="oneRow">
            <legend>Adresse für das Halteverbot in {{ ort|raw }}</legend>

            <div class="formRow empty hvzAdresse {{ hvzForm.widget('hvzAdresse').class }}">
                <label for="ctrl_hvzAdresse" class="placeholder">{{ hvzForm.widget('hvzAdresse').label|raw }}</label>
                <i class="fas fa-map-marked-alt input-unity"></i>
                <input type="text" class="text mandatory" id="ctrl_hvzAdresse" maxlength="100" minlength="3"
                       pattern="[0-9A-Za-z '#\.-]{3,}" required name="{{ hvzForm.widget('hvzAdresse').name }}"
                       value="{{ hvzForm.widget('hvzAdresse').value }}" autocomplete="address-line1"
                       title="Tragen Sie hier die für das Halteverbot relevante Strasse und Hausnummer ein">
                {{ hvzForm.widget('hvzAdresse').ErrorAsHTML|raw }}
            </div>

            <div class="formRow empty hvzPlz {{ hvzForm.widget('hvzPlz').class }}">
                <label for="ctrl_hvzPlz" class="placeholder">{{ hvzForm.widget('hvzPlz').label|raw }}</label>
                <i class="fas fa-map-marker-alt input-unity"></i>
                <input type="tel" class="text mandatory" id="ctrl_hvzPlz" maxlength="5" minlength="4"
                       pattern="[0-9]{4,5}" required name="{{ hvzForm.widget('hvzPlz').name }}"
                       value="{{ hvzForm.widget('hvzPlz').value }}" autocomplete="postal-code"
                       title="Tragen Sie hier die für das Halteverbot geltende Postleitzahl ein">
                {{ hvzForm.widget('hvzPlz').ErrorAsHTML|raw }}
            </div>
        </fieldset>

        <fieldset id="hvzDatum" class="oneRow">
            <legend>Wann soll die Halteverbotszone gestellt werden</legend>

            <div class="formRow empty {{ hvzForm.widget('startDateInput').class }}">
                <label for="ctrl_startDateInput"
                       class="placeholder">{{ hvzForm.widget('startDateInput').label|raw }}</label>
                <i class="far fa-calendar input-unity"></i>
                <input type="text" class="text mandatory" id="ctrl_startDateInput"
                       pattern="\d{1,2}.\d{1,2}.20\d{2}" required name="{{ hvzForm.widget('startDateInput').name }}"
                       value="{{ hvzForm.widget('startDateInput').value }}"
                       title="Datum (dd.mm.yyyy) ab wann soll die Halteverbotszone gültig sein">
                {{ hvzForm.widget('startDateInput').ErrorAsHTML|raw }}
            </div>

            <div class="formRow {{ hvzForm.widget('extraTag').class }}">
                <div class="select-container">
                    <button class="fas fa-info-circle input-unity"
                            data-toggle="popover"
                            data-placement="auto"
                            data-original-title="Gültigkeitsdauer"
                            data-content="Der oben angezeigte Preis bezieht sich auf die Gültigkeitsdauer eines Tages. Ab dem zweiten Tag werden pro weiteren Gültigkeitstag Kosten von jeweils <strong>{{ extraTag|number_format(2, ',') }} €</strong> fällig."
                    ></button>
                    <label for="ctrl_extraTag" class="placeholder">{{ hvzForm.widget('extraTag').label }}</label>
                    <select id="ctrl_extraTag" class="select" required name="{{ hvzForm.widget('extraTag').name }}">
                        <option value="" disabled>Anzahl der Tage</option>
                        <option value="1" selected="selected">1 Tag</option>
                        <option value="2">2 Tage (+ {{ (1 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="3">3 Tage (+ {{ (2 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="4">4 Tage (+ {{ (3 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="5">5 Tage (+ {{ (4 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="6">6 Tage (+ {{ (5 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="7">7 Tage (+ {{ (6 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="8">8 Tage (+ {{ (7 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="9">9 Tage (+ {{ (8 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="10">10 Tage (+ {{ (9 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="11">11 Tage (+ {{ (10 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="12">12 Tage (+ {{ (11 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="13">13 Tage (+ {{ (12 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="14">14 Tage (+ {{ (13 * extraTag)|number_format(2, ',') }}€)</option>
                    </select>
                </div>
                {{ hvzForm.widget('extraTag').ErrorAsHTML|raw }}
            </div>

            <div class="formRow {{ hvzForm.widget('startTime').class }}">
                <div class="select-container">
                    <label for="ctrl_startTime" class="placeholder">{{ hvzForm.widget('startTime').label }}</label>
                    <select id="ctrl_startTime" class="select" name="{{ hvzForm.widget('startTime').name }}">
                        <option value="7" selected="selected"> 7 Uhr</option>
                        <option value="8"> 8 Uhr</option>
                        <option value="9"> 9 Uhr</option>
                        <option value="10">10 Uhr</option>
                        <option value="11">11 Uhr</option>
                        <option value="12">12 Uhr</option>
                        <option value="13">13 Uhr</option>
                        <option value="14">14 Uhr</option>
                        <option value="15">15 Uhr</option>
                        <option value="16">16 Uhr</option>
                        <option value="17">17 Uhr</option>
                        <option value="18">18 Uhr</option>
                        <option value="19">19 Uhr</option>
                        <option value="20">20 Uhr</option>
                    </select>
                </div>
                {{ hvzForm.widget('startTime').ErrorAsHTML|raw }}

            </div>

            <div class="formRow {{ hvzForm.widget('endTime').class }}">
                <div class="select-container">
                    <label for="ctrl_endTime" class="placeholder">{{ hvzForm.widget('endTime').label }}</label>
                    <select id="ctrl_endTime" class="select" name="{{ hvzForm.widget('endTime').name }}">
                        <option value="7"> 7 Uhr</option>
                        <option value="8"> 8 Uhr</option>
                        <option value="9"> 9 Uhr</option>
                        <option value="10">10 Uhr</option>
                        <option value="11">11 Uhr</option>
                        <option value="12">12 Uhr</option>
                        <option value="13">13 Uhr</option>
                        <option value="14">14 Uhr</option>
                        <option value="15">15 Uhr</option>
                        <option value="16">16 Uhr</option>
                        <option value="17">17 Uhr</option>
                        <option value="18">18 Uhr</option>
                        <option value="19" selected="selected">19 Uhr</option>
                        <option value="20">20 Uhr</option>
                    </select>
                </div>
                {{ hvzForm.widget('endTime').ErrorAsHTML|raw }}
            </div>
            <div class="datepicker__modal" id="vondatum_datepicker">
                <div id="datepicker__centered-container">
                    <div class="datepicker__tip-message">
                        <span class="tip-message__headline">TIPP</span>
                        <p class="tip-message__text">
                            Wählen Sie ein Startdatum für Ihre Halteverbotszone in {{ ort|raw }}. <br>Nachfolgend können
                            Sie noch die Dauer bzw. die Anzahl der gültigen Tage bestimmen.
                        </p>
                    </div>
                    <div id="startDateForHvz" class="spot-for-datepicker padding-horizontal-m padding-vertical-s">
                    </div>
                    <div class="datepicker__button-pane padding-right-l">
                        <button onclick="cancelSelection()" type="button">Schliessen</button>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset id="hvzDetails" class="oneRow">
            <legend>Halteverbot Details</legend>

            <div class="formRow {{ hvzForm.widget('hvzReason').class }}">
                <div class="select-container">
                    <i class="fas fa-info-circle input-unity"
                       data-toggle="popover"
                       data-placement="auto"
                       data-original-title="Grund für die Stellung"
                       data-content="Bei Baustellen und Containergestellungen fallen in den meisten Fällen behördliche Auflagen und Zusatzkosten an. In diesem Fall werden Sie durch uns entsprechend informiert und beraten."
                    ></i>
                    <label for="ctrl_hvzReason" class="placeholder">{{ hvzForm.widget('hvzReason').label }}</label>
                    <select id="ctrl_hvzReason" class="select" name="{{ hvzForm.widget('hvzReason').name }}">
                        <option value="umzug" selected="selected">Umzug</option>
                        <option value="anlieferung">Anlieferung</option>
                        <option value="containergestellung">Containergestellung</option>
                        <option value="baustelle">Baustelle</option>
                        <option value="sonstiges">Sonstiges</option>
                    </select>
                </div>
                {{ hvzForm.widget('hvzReason').ErrorAsHTML|raw }}

                <div style="display: none">
                    <div id="grundAddon">
                        <p>
                            <strong>Bitte beachten Sie:</strong><br>
                            Bei Containergestellung und Baustellen können die Preise der Stadt variieren. Wir werden Sie
                            diesbezüglich
                            umgehend informieren.
                        </p>
                    </div>
                    <div id="grundSonstig">
                        <p>
                            <strong>Bitte beachten Sie:</strong><br>
                            Bitte geben Sie den Grund in den Zusatzinformationen mit an.
                        </p>
                    </div>
                </div>
            </div>

            <div class="formRow {{ hvzForm.widget('hvzLength').class }}">
                <div class="select-container">
                    <i class="fas fa-arrows-alt-h input-unity"></i>
                    <label for="ctrl_hvzLength" class="placeholder">{{ hvzForm.widget('hvzLength').label }}</label>
                    <select id="ctrl_hvzLength" class="select" name="{{ hvzForm.widget('hvzLength').name }}">
                        <option value="5">5m</option>
                        <option value="10">10m</option>
                        <option selected="selected" value="15">15m</option>
                        <option value="20">20m</option>
                    </select>
                </div>
                {{ hvzForm.widget('hvzLength').ErrorAsHTML|raw }}
            </div>


            <div class="formRow {{ hvzForm.widget('hvzCarType').class }}">
                <div class="select-container">
                    <i id="hvzCarType" class="fas fa-car-side input-unity"></i>
                    <label for="ctrl_hvzCarType" class="placeholder">{{ hvzForm.widget('hvzCarType').label }}</label>
                    <select id="ctrl_hvzCarType" class="select" name="{{ hvzForm.widget('hvzCarType').name }}">
                        <option value="pkw" selected="selected">Fahrzeug bis 3,5t</option>
                        <option value="lkw">Fahrzeug größer 3,5t</option>
                    </select>
                </div>
                {{ hvzForm.widget('hvzCarType').ErrorAsHTML|raw }}
            </div>

            <div class="formRow {{ hvzForm.widget('hvzType').class }}">
                <div class="select-container">
                    <i class="fas fa-info-circle input-unity"
                       data-toggle="popover"
                       data-placement="auto"
                       data-original-title="Grund für die Stellung"
                       data-content="Beachten Sie, dass am Gültigkeitstag an der von Ihnen gebuchten Adresse eine Rettungsgasse von mindestens 3 Metern gegeben ist. Andernfalls buchen Sie in jedem Falle eine beidseitige Aufstellung (<strong>+{{ extraKostenDoppelseitig }} €</strong>) um ausreichend Platz zu gewährleisten."
                    ></i>
                    <label for="ctrl_hvzType" class="placeholder">{{ hvzForm.widget('hvzType').label }}</label>
                    <select id="ctrl_hvzType" class="select" name="{{ hvzForm.widget('hvzType').name }}">
                        <option value="einseitig" selected="selected">einseitig</option>
                        <option value="beidseitig">beidseitig (+ {{ extraKostenDoppelseitig|number_format(2, ',') }}€)
                        </option>
                    </select>
                </div>
                {{ hvzForm.widget('hvzType').ErrorAsHTML|raw }}
            </div>

        </fieldset>

        <fieldset id="hvzAdditionalInfos">
            <legend>
                <label for="ctrl_hvzAdditionalText">{{ hvzForm.widget('hvzAdditionalInfos').label }}</label>
            </legend>
            <textarea cols="40" rows="6" class="textarea" id="ctrl_hvzAdditionalText"
                      placeholder="evtl. weitere Informationen zur Aufstellung"
                      name="{{ hvzForm.widget('hvzAdditionalInfos').name }}">{{ hvzForm.widget('hvzAdditionalInfos').value }}</textarea>
        </fieldset>

        <fieldset id="billingData" class="twoInOne">
            <legend>Rechnungsadresse</legend>

            <div class="formRow {{ hvzForm.widget('gender').class }}">
                <div class="select-container">
                    <i id="genderIcon" class="fas fa-genderless input-unity"></i>
                    <label for="ctrl_gender" class="placeholder gender">{{ hvzForm.widget('gender').label }}</label>
                    <select id="ctrl_gender" class="select" name="{{ hvzForm.widget('gender').name }}">
                        <option value="" selected="selected" disabled>Bitte wählen:</option>
                        <option value="Herr">Herr</option>
                        <option value="Frau">Frau</option>
                    </select>
                </div>
                {{ hvzForm.widget('gender').ErrorAsHTML|raw }}
            </div>

            <div class="formRow empty">
                <label for="ctrl_billingOrganization"
                       class="placeholder">{{ hvzForm.widget('organization').label }}</label>
                <input type="text" value="{{ hvzForm.widget('organization').value }}" class="text"
                       id="ctrl_billingOrganization" name="{{ hvzForm.widget('organization').name }}"
                       autocomplete="organization">
            </div>

            <div class="formRow empty {{ hvzForm.widget('familyName').class }}">
                <label for="ctrl_familyName" class="placeholder">{{ hvzForm.widget('familyName').label }}</label>
                <input type="text" id="ctrl_familyName" class="text mandatory" required
                       name="{{ hvzForm.widget('familyName').name }}"
                       autocomplete="family-name" value="{{ hvzForm.widget('familyName').value }}">
                {{ hvzForm.widget('familyName').ErrorAsHTML|raw }}
            </div>

            <div class="formRow empty {{ hvzForm.widget('givenName').class }}">
                <label for="ctrl_givenName" class="placeholder">{{ hvzForm.widget('givenName').label }}</label>
                <input type="text" id="ctrl_givenName" class="text mandatory" required
                       name="{{ hvzForm.widget('givenName').name }}"
                       autocomplete="given-name" value="{{ hvzForm.widget('givenName').value }}">
                {{ hvzForm.widget('givenName').ErrorAsHTML|raw }}
            </div>

            <div class="formRow empty {{ hvzForm.widget('billingStreet').class }}">
                <i class="fas fa-map-marked-alt input-unity"></i>
                <label for="ctrl_billingStreet" class="placeholder">Strasse/Hausnummer</label>
                <input type="text" class="text mandatory" required id="ctrl_billingStreet"
                       name="{{ hvzForm.widget('billingStreet').name }}"
                       autocomplete="address-line1" value="{{ hvzForm.widget('billingStreet').value }}">
                {{ hvzForm.widget('billingStreet').ErrorAsHTML|raw }}
            </div>

            <div class="formRow empty {{ hvzForm.widget('billingCity').class }}">
                <i class="fas fa-map-marker-alt input-unity"></i>
                <label for="ctrl_billingCity" class="placeholder">{{ hvzForm.widget('billingCity').label }}</label>
                <input type="text" class="text mandatory" required id="ctrl_billingCity"
                       name="{{ hvzForm.widget('billingCity').name }}"
                       autocomplete="postal-code address-level2" value="{{ hvzForm.widget('billingCity').value }}">
                {{ hvzForm.widget('billingCity').ErrorAsHTML|raw }}
            </div>


            <div class="formRow empty {{ hvzForm.widget('billingEmail').class }}">
                <i class="fas fa-at input-unity"></i>
                <label for="ctrl_eMail" class="placeholder">{{ hvzForm.widget('billingEmail').label }}</label>
                <input type="email" class="text mandatory" required id="ctrl_eMail"
                       name="{{ hvzForm.widget('billingEmail').name }}"
                       autocomplete="email" value="{{ hvzForm.widget('billingEmail').value }}">
                {{ hvzForm.widget('billingEmail').ErrorAsHTML|raw }}
            </div>


            <div class="formRow empty {{ hvzForm.widget('billingTel').class }}">
                <i class="fas fa-phone-alt input-unity"></i>
                <label for="ctrl_billingTel" class="placeholder">{{ hvzForm.widget('billingTel').label }}</label>
                <input type="tel" class="text mandatory" required id="ctrl_billingTel"
                       name="{{ hvzForm.widget('billingTel').name }}"
                       autocomplete="home tel" value="{{ hvzForm.widget('billingTel').value }}">
                {{ hvzForm.widget('billingTel').ErrorAsHTML|raw }}
            </div>

        </fieldset>

        <fieldset id="agbChecking">
            <div class="checkbox-container">
                <input value="0" type="checkbox" required id="ctrl_agbAccept" class="input-checkbox"
                       name="{{ hvzForm.widget('agbAccept').name }}">
                <label for="ctrl_agbAccept" class="label-checkbox">{{ hvzForm.widget('agbAccept').label|raw }}</label>
                {{ hvzForm.widget('agbAccept').ErrorAsHTML|raw }}
            </div>

            <div class="" id="orderOverview" style="width: 100%;">
            </div>

            <div class="submit-wrapper" style="width: 100%;">
                <input id="orderBtn" type="submit" class="button-primary font-bold float-right"
                       value="Halteverbot bestellen">
            </div>
        </fieldset>
    </div>
</form>

{% if isSubmited %}
    <script>
        $("#ctrl_extraTag option[value={{ hvzForm.widget('extraTag').value }}]").attr('selected', true);
        $("#ctrl_startTime option[value={{ hvzForm.widget('startTime').value }}]").attr('selected', true);
        $("#ctrl_endTime option[value={{ hvzForm.widget('endTime').value }}]").attr('selected', true);
        $("#ctrl_hvzReason option[value={{ hvzForm.widget('hvzReason').value }}]").attr('selected', true);
        $("#ctrl_hvzLength option[value={{ hvzForm.widget('hvzLength').value }}]").attr('selected', true);
        $("#ctrl_hvzCarType option[value={{ hvzForm.widget('hvzCarType').value }}]").attr('selected', true);
        $("#ctrl_hvzType option[value={{ hvzForm.widget('hvzType').value }}]").attr('selected', true);
        $("#ctrl_gender option[value={{ hvzForm.widget('gender').value }}]").attr('selected', true);
        $("#ctrl_extraTag").change();
        $("#ctrl_startTime").change();
        $("#ctrl_endTime").change();
        $("#ctrl_hvzReason").change();
        $("#ctrl_hvzLength").change();
        $("#ctrl_hvzCarType").change();
        $("#ctrl_hvzType").change();
        $("#ctrl_gender").change();

        $('html, body').animate({
            scrollTop: $('.error:first').offset().top - 20
        }, 1000);
    </script>
{% endif %}
