<script src="{{ asset('bundles/chuckkihvziframe/js/datepicker-de.js') }}"></script>

<form action="" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="formbody">
        <input type="hidden" name="FORM_SUBMIT" value="hvzOrderform">
        <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">

        <script>
            let inputEl = $(".formbody input");
            inputEl.focus(function () {
                $(this).parent().removeClass('empty');
            });
            inputEl.focusout(function () {
                if (!$(this).val()) {
                    $(this).parent().addClass('empty');
                }
            })

            $("#startDateInput").focus(function () {
                $(this).parent().addClass('notempty');
            });

            inputEl.on("change, focusout, blur", function () {
                if ($(this).val() == "") {
                    $(this).parent().addClass('empty');
                }
            });

            function cancelSelection() {
                $(".datepicker__modal").hide();
            }

            $("#startDateInput").click(function () {
                let picker = $(".datepicker__modal");
                picker.show();
                picker.focus();
            })


        </script>


        <fieldset id="hvzAdresse">
            <legend>Adresse für das Halteverbot in {{ ort|raw }}</legend>
            <div class="formRow empty">
                <span class="placeholder">PLZ von {{ ort|raw }}</span>
                <i class="fas fa-map-marker-alt input-unity"></i>
                <input type="tel" class="text mandatory" id="ctrl_50" name="PLF" autocomplete="postal-code">
            </div>
            <div class="formRow empty">
                <span class="placeholder">Straße und Hausnummer</span>
                <!--<i class="fas fa-road input-unity"></i>-->
                <i class="fas fa-map-marked-alt input-unity"></i>
                <input type="text" class="text mandatory" id="ctrl_51" name="address-line1"
                       autocomplete="address-line1">
            </div>
        </fieldset>
        <fieldset id="hvzDatum">
            <legend>Wann soll die Halteverbotszone gestellt werden</legend>
            <div class="formRow empty">
                <span class="placeholder">Datum</span>
                <i class="far fa-calendar input-unity"></i>
                <input type="text" class="text mandatory" id="startDateInput" value="" name="vom">
            </div>
            <div class="datepicker__modal" id="vondatum_datepicker">
                <div id="datepicker__centered-container">
                    <div class="datepicker__tip-message">
                        <span class="tip-message__headline">TIPP</span>
                        <p class="tip-message__text">
                            Wählen Sie ein Startdatum für Ihre Halteverbotszone in {{ ort|raw }}. <br>Nachfolgend können
                            Sie noch die Dauer bzw. die Anzahl der gültigen Tage bestimmen.
                        </p>
                    </div>
                    <div id="startDateForHvz" class="spot-for-datepicker padding-horizontal-m padding-vertical-s">
                    </div>
                    <div class="datepicker__button-pane padding-right-l">
                        <button onclick="cancelSelection()" type="button">Schliessen</button>
                    </div>
                </div>
            </div>
            <div class="formRow">
                <div class="select-container">
                    <button class="fas fa-info-circle input-unity"
                            data-toggle="popover"
                            data-placement="auto"
                            data-original-title="Zeitraum"
                            data-content="Der oben angegebene Preis bezieht sich auf die Gültigkeit eines Tages. Ab dem zweiten Tag werden pro Tag Zusatzkosten in Höhe von <strong>{{ extraTag|number_format(2, ',') }} €</strong> erhoben."
                    ></button>
                    <span class="placeholder">Zeitraum</span>
                    <select id="extraTag" class="select">
                        <option value="" disabled>Anzahl der Tage</option>
                        <option value="1" selected="">1 Tag</option>
                        <option value="2">2 Tage (+ {{ (1 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="3">3 Tage {{ (2 * extraTag)|number_format(2, ',') }}</option>
                        <option value="4">4 Tage {{ (3 * extraTag)|number_format(2, ',') }}</option>
                        <option value="5">5 Tage</option>
                        <option value="6">6 Tage</option>
                        <option value="7">7 Tage</option>
                        <option value="8">8 Tage</option>
                        <option value="9">9 Tage</option>
                        <option value="10">10 Tage</option>
                        <option value="11">11 Tage</option>
                        <option value="12">12 Tage</option>
                        <option value="13">13 Tage</option>
                        <option value="14">14 Tage</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="formRow">

                <div class="select-container">
                    <span class="placeholder">täglich von</span>
                    <select id="main-ingredient" class="select">
                        <option value="7" selected=""> 7 Uhr</option>
                        <option value="8"> 8 Uhr</option>
                        <option value="9"> 9 Uhr</option>
                        <option value="10">10 Uhr</option>
                        <option value="11">11 Uhr</option>
                        <option value="12">12 Uhr</option>
                        <option value="13">13 Uhr</option>
                        <option value="14">14 Uhr</option>
                        <option value="15">15 Uhr</option>
                        <option value="16">16 Uhr</option>
                        <option value="17">17 Uhr</option>
                        <option value="18">18 Uhr</option>
                        <option value="19">19 Uhr</option>
                        <option value="20">20 Uhr</option>
                    </select>
                </div>

            </div>
            <div class="formRow">
                <div class="select-container">
                    <span class="placeholder">täglich bis</span>
                    <select id="main-ingredient" class="select">
                        <option value="7"> 7 Uhr</option>
                        <option value="8"> 8 Uhr</option>
                        <option value="9"> 9 Uhr</option>
                        <option value="10">10 Uhr</option>
                        <option value="11">11 Uhr</option>
                        <option value="12">12 Uhr</option>
                        <option value="13">13 Uhr</option>
                        <option value="14">14 Uhr</option>
                        <option value="15">15 Uhr</option>
                        <option value="16">16 Uhr</option>
                        <option value="17">17 Uhr</option>
                        <option value="18">18 Uhr</option>
                        <option value="19" selected="">19 Uhr</option>
                        <option value="20">20 Uhr</option>
                    </select>
                </div>


            </div>
        </fieldset>
        <fieldset id="hvzDetails">
            <legend>Halteverbot Details</legend>

            <div class="formRow">
                <div class="select-container">
                    <i class="fas fa-info-circle input-unity"
                       data-toggle="popover"
                       data-placement="auto"
                       data-original-title="Grund für die Stellung"
                       data-content="Grund"
                    ></i>
                    <span class="placeholder">Grund für die Stellung</span>
                    <select id="main-ingredient" class="select">
                        <option value="umzug" selected="">Umzug</option>
                        <option value="containergestellung">Containergestellung</option>
                        <option value="baustelle">Baustelle</option>
                        <option value="sonstiges">Sonstiges</option>
                    </select>
                </div>
                <div style="display: none">
                    <div id="grundAddon">
                        <p>
                            <strong>Bitte beachten Sie:</strong><br>
                            Bei Containergestellung und Baustellen können die Preise der Stadt variieren. Wir werden Sie
                            diesbezüglich
                            umgehend informieren.
                        </p>
                    </div>
                    <div id="grundSonstig">
                        <p>
                            <strong>Bitte beachten Sie:</strong><br>
                            Bitte geben Sie den Grund in den Zusatzinformationen mit an.
                        </p>
                    </div>
                </div>
            </div>

            <div class="formRow">
                <div class="select-container">
                    <span class="placeholder">Länge</span>
                    <select id="main-ingredient" class="select">
                        <option value="5">5m</option>
                        <option value="10">10m</option>
                        <option selected="" value="15">15m</option>
                        <option value="20">20m</option>
                    </select>
                </div>
            </div>


            <div class="formRow">
                <div class="select-container">
                    <span class="placeholder">Fahrzeugtyp</span>
                    <select id="main-ingredient" class="select">
                        <option value="5" selected><span> Fahrzeug bis 3,5t <i class="fas fa-car-side"></i></span></option>
                        <option value="10">Fahrzeug größer 3,5t <i class="fas fa-truck-moving"></i></option>
                    </select>
                </div>
            </div>

            <div class="formRow">
                <div class="select-container">
                    <i class="fas fa-info-circle input-unity"
                       data-toggle="popover"
                       data-placement="auto"
                       data-original-title="Grund für die Stellung"
                       data-content="Extrakosten <strong>+{{ extraKostenDoppelseitig }} €</strong>"
                    ></i>
                    <span class="placeholder">Beschilderung</span>
                    <select id="hvzType" class="select">
                        <option value="einseitig" selected>einseitig</option>
                        <option value="beidseitig">beidseitig</option>
                    </select>
                </div>
            </div>

        </fieldset>


        <fieldset id="hvzAdditionalInfos">
            <legend>Zusatzinformationen</legend>
            <textarea cols="40" rows="6" class="textarea" id="ctrl_66"
                      placeholder="evtl. weitere Informationen zur Aufstellung" name="Zusatzinformationen"></textarea>
        </fieldset>

        <fieldset id="rechnungsadresse">
            <legend>Rechnungsadresse</legend>
            <div class="formRow">
                <div class="select-container">
                    <span class="placeholder gender">Anrede</span>
                    <i id="genderIcon" class="fas fa-genderless input-unity"></i>

                    <script>
                        $("#gender").on("change", function () {
                            let el = $("#genderIcon")
                            el.removeClass('fa-genderless');
                            if ($(this).val() == 'Herr') {
                                el.addClass('fa-male');
                                el.removeClass('fa-female');
                            } else {
                                el.addClass('fa-female');
                                el.removeClass('fa-male');
                            }
                        })


                    </script>

                    <select id="gender" class="select">
                        <option value="" selected disabled>Bitte wählen:</option>
                        <option value="Herr"><i class="fa fa-male" aria-hidden="true"></i>Herr</option>
                        <option value="Frau"><i class="fa fa-female" aria-hidden="true"></i>Frau</option>
                    </select>
                </div>
            </div>
            <div class="formRow empty">
                <span class="placeholder">Name</span>
                <input type="text" class="text mandatory" id="ctrl_50" name="name" autocomplete="family-name">
            </div>
            <div class="formRow empty">
                <span class="placeholder">Vorname</span>
                <input type="text" class="text mandatory" name="given-name" autocomplete="given-name">
            </div>

            <div class="formRow empty">
                <span class="placeholder">Strasse/Hausnummer</span>
                <input type="text" class="text mandatory" id="ctrl_50" name="address-line1"
                       autocomplete="address-line1">
            </div>

            <div class="formRow empty">
                <span class="placeholder">Ort / PLZ</span>
                <input type="text" class="text mandatory" id="ctrl_50" name="PLZ" autocomplete="postal-code city">
            </div>


            <div class="formRow empty">
                <span class="placeholder">E-Mail-Adresse</span>
                <input type="email" class="text mandatory" id="ctrl_50" name="PLZ">
            </div>


            <div class="formRow empty">
                <span class="placeholder">Telefon</span>
                <input type="tel" class="text mandatory" id="ctrl_50" name="PLZ" autocomplete="home tel">
            </div>

            <div class="formRow empty">
                <span class="placeholder">Firma</span>
                <input type="text" value="" class="text" id="ctrl_72" name="firma" autocomplete="city">
            </div>

            <div class="formRow empty" id="umstElement" style="display: none;">
                <span class="placeholder">USt-IdNr.</span>
                <input type="text" value="" placeholder="USt-IdNr. (optional)" class="text" id="ctrl_248" name="umstid">
            </div>

        </fieldset>

        <fieldset id="rechnungsadresse">

            <div class="checkbox-container">
                <input type="checkbox" id="example-form_input12" class="input-checkbox">
                <label for="example-form_input12" class="label-checkbox">Ich erkläre mich mit den <a target="_blank"
                                                                                                     href="/agb.html">AGB</a>
                    und den <a target="_blank" href="/datenschutzerklaerung.html">Datenschutzrichtlinien</a>
                    einverstanden</label>
            </div>

            <div class="" id="orderOverview" style="width: 100%;">
            </div>

            <div class=""  style="width: 100%;">
                <input id="orderBtn" type="submit" class="button-primary font-bold float-right" value="Submit">
            </div>

            <script>

                //Preis berechnen


                $("#extraTag").on('change', function (e) {
                    updatePrice();
                });

                $("#hvzType").on('change', function (e) {
                    updatePrice();
                });




                function updatePrice(){
                    let priceData = {
                        'hvzId': '{{ hvz.id }}',
                        'extraTag': $( "#extraTag option:selected" ).val(),
                        'hvzType': $( "#hvzType option:selected" ).val(),
                        'startDate': $('#startDateInput').val()
                    };

                    if($('#startDateInput').val() !== ''){
                        $( "#orderOverview" ).load( "/extern/getprice/{{ hvz.id }}", priceData, function(data) {
                            console.log(data);
                        });
                    }
                };



                function computeDate(start, n) {
                    var targetDate = start.getDate();
                    targetDate.setDate(targetDate.getDate() + (parseInt(n) - 1));
                    var res = new Array(2);
                    res[0] = ('0' + targetDate.getDate()).slice(-2) + '.' + ('0' + (targetDate.getMonth() + 1)).slice(-2) + '.' + targetDate.getFullYear();
                    res[1] = getNameOfDay(targetDate);
                    return res;
                }

            </script>

        </fieldset>
    </div>
</form>


