<script src="{{ asset('bundles/chuckkihvziframe/js/datepicker-de.js') }}"></script>

<form action="" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="formbody">
        <input type="hidden" name="FORM_SUBMIT" value="hvzOrderform">
        <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">

        <script>
            let inputEl = $(".formbody input");
            inputEl.focus(function () {
                $(this).parent().removeClass('empty');
            });
            inputEl.focusout(function () {
                if (!$(this).val()) {
                    $(this).parent().addClass('empty');
                }
            })

            $("#startDateInput").focus(function () {
                $(this).parent().addClass('notempty');
            });

            inputEl.on("change, focusout, blur", function () {
                if ($(this).val() == "") {
                    $(this).parent().addClass('empty');
                }
            });

            function cancelSelection() {
                $(".datepicker__modal").hide();
            }

            $("#startDateInput").click(function () {
                let picker = $(".datepicker__modal");
                picker.show();
                picker.focus();
            })
        </script>


        <fieldset id="hvzAdresse">
            <legend>Adresse für das Halteverbot in {{ ort|raw }}</legend>
            <div class="formRow empty">
                <span class="placeholder">PLZ von {{ ort|raw }}</span>
                <i class="fas fa-map-marker-alt input-unity"></i>
                <input type="tel" class="text mandatory" id="ctrl_50" name="PLZ">
            </div>
            <div class="formRow empty">
                <span class="placeholder">Straße und Hausnummer</span>
                <!--<i class="fas fa-road input-unity"></i>-->
                <i class="fas fa-map-marked-alt input-unity"></i>
                <input type="text" class="text mandatory" id="ctrl_51" name="Strasse">
            </div>
        </fieldset>


        <fieldset id="hvzDatum">
            <legend>Wann soll die Halteverbotszone gestellt werden</legend>
            <div class="formRow empty">
                <span class="placeholder">Datum</span>
                <i class="far fa-calendar input-unity"></i>
                <input type="text" class="text mandatory" id="startDateInput" value="" name="vom">
            </div>
            <div class="datepicker__modal" id="vondatum_datepicker">
                <div id="datepicker__centered-container">
                    <div class="datepicker__tip-message">
                        <span class="tip-message__headline">TIPP</span>
                        <p class="tip-message__text">
                            Wählen Sie ein Startdatum für Ihre Halteverbotszone in {{ ort|raw }}. <br>Nachfolgend können
                            Sie noch die Dauer bzw. die Anzahl der gültigen Tage bestimmen.
                        </p>
                    </div>
                    <div id="startDateForHvz" class="spot-for-datepicker padding-horizontal-m padding-vertical-s">
                    </div>
                    <div class="datepicker__button-pane padding-right-l">
                        <button onclick="cancelSelection()" type="button">Schliessen</button>
                    </div>
                </div>
            </div>
            <div class="formRow">
                <div class="select-container">
                    <span class="placeholder">Zeitraum</span>
                    <select id="main-ingredient" class="select">
                        <option value="" disabled>Anzal der Tage</option>
                        <option value="1" selected="">1 Tag</option>
                        <option value="2">2 Tage</option>
                        <option value="3">3 Tage</option>
                        <option value="4">4 Tage</option>
                        <option value="5">5 Tage</option>
                        <option value="6">6 Tage</option>
                        <option value="7">7 Tage</option>
                        <option value="8">8 Tage</option>
                        <option value="9">9 Tage</option>
                        <option value="10">10 Tage</option>
                        <option value="11">11 Tage</option>
                        <option value="12">12 Tage</option>
                        <option value="13">13 Tage</option>
                        <option value="14">14 Tage</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="formRow">

                <div class="select-container">
                    <span class="placeholder">täglich von</span>
                    <select id="main-ingredient" class="select">
                        <option value="7" selected=""> 7 Uhr</option>
                        <option value="8"> 8 Uhr</option>
                        <option value="9"> 9 Uhr</option>
                        <option value="10">10 Uhr</option>
                        <option value="11">11 Uhr</option>
                        <option value="12">12 Uhr</option>
                        <option value="13">13 Uhr</option>
                        <option value="14">14 Uhr</option>
                        <option value="15">15 Uhr</option>
                        <option value="16">16 Uhr</option>
                        <option value="17">17 Uhr</option>
                        <option value="18">18 Uhr</option>
                        <option value="19">19 Uhr</option>
                        <option value="20">20 Uhr</option>
                    </select>
                </div>

            </div>
            <div class="formRow">
                <div class="select-container">
                    <span class="placeholder">täglich bis</span>
                    <select id="main-ingredient" class="select">
                        <option value="7"> 7 Uhr</option>
                        <option value="8"> 8 Uhr</option>
                        <option value="9"> 9 Uhr</option>
                        <option value="10">10 Uhr</option>
                        <option value="11">11 Uhr</option>
                        <option value="12">12 Uhr</option>
                        <option value="13">13 Uhr</option>
                        <option value="14">14 Uhr</option>
                        <option value="15">15 Uhr</option>
                        <option value="16">16 Uhr</option>
                        <option value="17">17 Uhr</option>
                        <option value="18">18 Uhr</option>
                        <option value="19" selected="">19 Uhr</option>
                        <option value="20">20 Uhr</option>
                    </select>
                </div>


            </div>
        </fieldset>


        <fieldset id="hvzDetails">
            <legend>Halteverbot Details</legend>

            <div class="formRow">
                <div class="select-container">
                    <span class="placeholder">Grund für die Stellung</span>
                    <select id="main-ingredient" class="select">
                        <option value="umzug" selected="">Umzug</option>
                        <option value="containergestellung">Containergestellung</option>
                        <option value="baustelle">Baustelle</option>
                        <option value="sonstiges">Sonstiges</option>
                    </select>
                </div>

                <div style="display: none">
                    <div id="grundAddon">
                        <p>
                            <strong>Bitte beachten Sie:</strong><br>
                            Bei Containergestellung und Baustellen können die Preise der Stadt variieren. Wir werden Sie
                            diesbezüglich
                            umgehend informieren.
                        </p>
                    </div>
                    <div id="grundSonstig">
                        <p>
                            <strong>Bitte beachten Sie:</strong><br>
                            Bitte geben Sie den Grund in den Zusatzinformationen mit an.
                        </p>
                    </div>
                </div>
            </div>

            <div class="formRow">
                <div class="select-container">
                    <span class="placeholder">Länge</span>
                    <select id="main-ingredient" class="select">
                        <option value="5">5m</option>
                        <option value="10">10m</option>
                        <option selected="" value="15">15m</option>
                        <option value="20">20m</option>
                    </select>
                </div>
            </div>


            <div class="formRow" id="grund">


                <div class="checkbox-container">
                    <input type="checkbox" id="example-form_input12" class="input-checkbox">
                    <label for="example-form_input12" class="label-checkbox">Please accept this. Or not. Your choice.
                        (But we'd appreciate it.)</label>
                </div>

                <div class="formRow floatme" id="fahrzeug">

                    <ul class="radio-list">
                        <li class="radio-container">
                            <input type="radio" class="input-radio" id="apple-2" name="fruit-2" checked="">
                            <label for="apple-2" class="label-radio"><span> Fahrzeug bis 3,5t <i class="fas fa-car-side"></i></span></label>
                        </li>
                        <li class="radio-container">
                            <input type="radio" class="input-radio" id="banana-2" name="fruit-2">
                            <label for="banana-2" class="label-radio"> Fahrzeug größer 3,5t <i class="fas fa-truck-moving"></i></label>
                        </li>
                    </ul>


                    <span class="expl">für welche Fahrzeugart</span>

                </div>



                <div class="formRow">
                    <label class="zusatzinfo" for="ctrl_66">Zusatzinformationen</label> <textarea cols="40" rows="6"
                                                                                                  class="textarea"
                                                                                                  id="ctrl_66"
                                                                                                  placeholder="evtl. weitere Informationen zur Aufstellung"
                                                                                                  name="Zusatzinformationen"></textarea>
                </div>
                <div class="formRow gutscheinRow">
                    <label class="mandatory" for="ctrl_122"> Gutscheincode</label> <input type="text" value="hvz18spfgp"
                                                                                          class="text mandatory"
                                                                                          id="ctrl_122"
                                                                                          placeholder="Gutscheincode"
                                                                                          name="gutscheincode">
                </div>
                <p class="rabattInfo">Mit dem von Ihnen eingegeben Gutscheincode erhalten Sie <strong>5% Rabatt</strong>
                </p>
        </fieldset>



        <fieldset id="rechnungsadresse">
            <legend>Rechnungsadresse</legend>

            <div class="formRow empty">
                <span class="placeholder">Name</span>
                <input type="text" class="text mandatory" id="ctrl_50" name="PLZ">
            </div>
            <div class="formRow empty">
                <span class="placeholder">Vorname</span>
                <input type="text" class="text mandatory" id="ctrl_50" name="PLZ">
            </div>

            <div class="formRow empty">
                <span class="placeholder">Strasse/Hausnummer</span>
                <input type="text" class="text mandatory" id="ctrl_50" name="PLZ">
            </div>

            <div class="formRow empty">
                <span class="placeholder">Ort / PLZ</span>
                <input type="text" class="text mandatory" id="ctrl_50" name="PLZ">
            </div>




            <div class="formRow empty">
                <span class="placeholder">E-Mail-Adresse</span>
                <input type="email" class="text mandatory" id="ctrl_50" name="PLZ">
            </div>




            <div class="formRow empty">
                <span class="placeholder">Telefon</span>
                <input type="tel" class="text mandatory" id="ctrl_50" name="PLZ">
            </div>


<hr>

            <div class="formRow" id="gender">

                <label for="opt_68_0" id="lbl_68_0" class="btn male"><input type="radio" value="Herr" checked="checked"
                                                                            class="radio" id="opt_68_0"
                                                                            name="Geschlecht">Herr<i class="fa fa-male"
                                                                                                     aria-hidden="true"></i></label>

                <label for="opt_68_1" id="lbl_68_1" class="btn female"><input type="radio" value="Frau" class="radio"
                                                                              id="opt_68_1" name="Geschlecht">Frau<i
                        class="fa fa-female" aria-hidden="true"></i></label>
            </div>

            <div class="formRow">
                <label for="ctrl_72">Firma</label> <input type="text" value="" placeholder="Firma" class="text"
                                                          id="ctrl_72" name="firma">
            </div>
            <div class="formRow " id="umstElement" style="display: none;">
                <label for="ctrl_248">USt-IdNr.</label> <input type="text" value="" placeholder="USt-IdNr. (optional)"
                                                               class="text" id="ctrl_248" name="umstid">
            </div>

        </fieldset>

    </div>
</form>
