<script src="{{ asset('bundles/chuckkihvziframe/js/datepicker-de.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/chuckkihvziframe/js/form-prefiller.js') }}"></script>


<script>

    let inputEl = $(".formbody input");
    let dateInputEl = $("#ctrl_startDateInput");
    let picker = $(".datepicker__modal");

    inputEl.focus(function () {
        $(this).parent().removeClass('empty');
    });

    inputEl.focusout(function () {
        if (!$(this).val() || $(this).val() === '') {
            $(this).parent().addClass('empty');
            $(this).removeClass('hasValue');
        } else {
            $(this).parent().removeClass('empty');
            $(this).addClass('hasValue');
        }
    });

    inputEl.on("change, focusout, blur, input", function () {
        if ($(this).val() === "") {
            $(this).parent().addClass('empty');
        } else {
            $(this).parent().removeClass('empty');
        }
    });


    function cancelSelection() {
        if (dateInputEl.val() !== '') {
            dateInputEl.parent().removeClass('empty');
        }
        picker.hide();
    }

    dateInputEl.click(function () {
        picker.show();
        picker.focus();
    });


    $("#ctrl_gender").on("input", function () {
        let el = $("#genderIcon");
        el.removeClass('fa-genderless');
        if ($(this).val() === 'Herr') {
            el.addClass('fa-male');
            el.removeClass('fa-female');
        } else {
            el.addClass('fa-female');
            el.removeClass('fa-male');
        }
    });

    //Preis berechnen

    $('#ctrl_extraTag, #ctrl_hvzType').on('change', function () {
        updatePrice()
    });

    function updatePrice() {
        let startDate = $("#ctrl_startDateInput");
        let priceData = {
            'hvzId': '{{ hvz.id }}',
            'extraTag': $("#ctrl_extraTag option:selected").val(),
            'hvzType': $("#ctrl_hvzType option:selected").val(),
            'startDate': startDate.val()
        };

        if (startDate.val() !== '') {
            $("#orderOverview").load("/extern/getprice/{{ hvz.id }}", priceData);
        }
    }

</script>

<form method="POST" enctype="application/x-www-form-urlencoded">
    <div class="formbody">
        <input type="hidden" name="FORM_SUBMIT" value="hvzOrderform">
        <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">

        <fieldset id="hvzAdresse" class="oneRow">
            <legend>Adresse für das Halteverbot in {{ ort|raw }}</legend>
            <div class="formRow empty hvzAdresse">
                <label for="ctrl_hvzAdresse" class="placeholder">Straße und Hausnummer</label>
                <i class="fas fa-map-marked-alt input-unity"></i>
                <input type="text" class="text mandatory" id="ctrl_hvzAdresse" maxlength="100" minlength="3"
                       pattern="[0-9A-Za-z '#\.-]{3,}" required name="address-line1" autocomplete="address-line1"
                       title="Tragen Sie hier die für das Halteverbot relevante Strasse und Hausnummer ein">
            </div>
            <div class="formRow empty hvzPlz">
                <label for="ctrl_hvzPlz" class="placeholder">Postleitzahl</label>
                <i class="fas fa-map-marker-alt input-unity"></i>
                <input type="tel" class="text mandatory" id="ctrl_hvzPlz" maxlength="5" minlength="4"
                       pattern="[0-9]{4,5}" name="postal-code" required autocomplete="postal-code"
                       title="Tragen Sie hier die für das Halteverbot geltende Postleitzahl ein">
            </div>
        </fieldset>

        <fieldset id="hvzDatum" class="oneRow">
            <legend>Wann soll die Halteverbotszone gestellt werden</legend>
            <div class="formRow empty">
                <label for="ctrl_startDateInput" class="placeholder">Datum</label>
                <i class="far fa-calendar input-unity"></i>
                <input type="text" class="text mandatory" id="ctrl_startDateInput" value=""
                       pattern="\d{1,2}.\d{1,2}.20\d{2}" required name="vom"
                       title="Datum (dd.mm.yyyy) ab wann soll die Halteverbotszone gültig sein">
            </div>
            <div class="formRow">
                <div class="select-container">
                    <button class="fas fa-info-circle input-unity"
                            data-toggle="popover"
                            data-placement="auto"
                            data-original-title="Gültigkeitsdauer"
                            data-content="Der oben angegebene Preis bezieht sich auf die Gültigkeit eines Tages. Ab dem zweiten Tag werden pro Tag Zusatzkosten in Höhe von <strong>{{ extraTag|number_format(2, ',') }} €</strong> erhoben."
                    ></button>
                    <label for="ctrl_extraTag" class="placeholder">Gültigkeitsdauer</label>
                    <select id="ctrl_extraTag" class="select" required name="extraTag">
                        <option value="" disabled>Anzahl der Tage</option>
                        <option value="1" selected="selected">1 Tag</option>
                        <option value="2">2 Tage (+ {{ (1 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="3">3 Tage (+ {{ (2 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="4">4 Tage (+ {{ (3 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="5">5 Tage (+ {{ (4 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="6">6 Tage (+ {{ (5 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="7">7 Tage (+ {{ (6 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="8">8 Tage (+ {{ (7 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="9">9 Tage (+ {{ (8 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="10">10 Tage (+ {{ (9 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="11">11 Tage (+ {{ (10 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="12">12 Tage (+ {{ (11 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="13">13 Tage (+ {{ (12 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="14">14 Tage (+ {{ (13 * extraTag)|number_format(2, ',') }}€)</option>
                    </select>
                </div>
            </div>
            <div class="formRow">
                <div class="select-container">
                    <label for="ctrl_startTime" class="placeholder">täglich von</label>
                    <select id="ctrl_startTime" class="select" name="startTime">
                        <option value="7" selected="selected"> 7 Uhr</option>
                        <option value="8"> 8 Uhr</option>
                        <option value="9"> 9 Uhr</option>
                        <option value="10">10 Uhr</option>
                        <option value="11">11 Uhr</option>
                        <option value="12">12 Uhr</option>
                        <option value="13">13 Uhr</option>
                        <option value="14">14 Uhr</option>
                        <option value="15">15 Uhr</option>
                        <option value="16">16 Uhr</option>
                        <option value="17">17 Uhr</option>
                        <option value="18">18 Uhr</option>
                        <option value="19">19 Uhr</option>
                        <option value="20">20 Uhr</option>
                    </select>
                </div>

            </div>
            <div class="formRow">
                <div class="select-container">
                    <label for="ctrl_endTime" class="placeholder">täglich bis</label>
                    <select id="ctrl_endTime" class="select" name="endTime">
                        <option value="7"> 7 Uhr</option>
                        <option value="8"> 8 Uhr</option>
                        <option value="9"> 9 Uhr</option>
                        <option value="10">10 Uhr</option>
                        <option value="11">11 Uhr</option>
                        <option value="12">12 Uhr</option>
                        <option value="13">13 Uhr</option>
                        <option value="14">14 Uhr</option>
                        <option value="15">15 Uhr</option>
                        <option value="16">16 Uhr</option>
                        <option value="17">17 Uhr</option>
                        <option value="18">18 Uhr</option>
                        <option value="19" selected="selected">19 Uhr</option>
                        <option value="20">20 Uhr</option>
                    </select>
                </div>
            </div>
            <div class="datepicker__modal" id="vondatum_datepicker">
                <div id="datepicker__centered-container">
                    <div class="datepicker__tip-message">
                        <span class="tip-message__headline">TIPP</span>
                        <p class="tip-message__text">
                            Wählen Sie ein Startdatum für Ihre Halteverbotszone in {{ ort|raw }}. <br>Nachfolgend können
                            Sie noch die Dauer bzw. die Anzahl der gültigen Tage bestimmen.
                        </p>
                    </div>
                    <div id="startDateForHvz" class="spot-for-datepicker padding-horizontal-m padding-vertical-s">
                    </div>
                    <div class="datepicker__button-pane padding-right-l">
                        <button onclick="cancelSelection()" type="button">Schliessen</button>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset id="hvzDetails" class="oneRow">
            <legend>Halteverbot Details</legend>

            <div class="formRow">
                <div class="select-container">
                    <i class="fas fa-info-circle input-unity"
                       data-toggle="popover"
                       data-placement="auto"
                       data-original-title="Grund für die Stellung"
                       data-content="Grund"
                    ></i>
                    <label for="ctrl_hvzReason" class="placeholder">Grund für die Stellung</label>
                    <select id="ctrl_hvzReason" class="select" name="hvzReason">
                        <option value="umzug" selected="selected">Umzug</option>
                        <option value="containergestellung">Containergestellung</option>
                        <option value="baustelle">Baustelle</option>
                        <option value="sonstiges">Sonstiges</option>
                    </select>
                </div>
                <div style="display: none">
                    <div id="grundAddon">
                        <p>
                            <strong>Bitte beachten Sie:</strong><br>
                            Bei Containergestellung und Baustellen können die Preise der Stadt variieren. Wir werden Sie
                            diesbezüglich
                            umgehend informieren.
                        </p>
                    </div>
                    <div id="grundSonstig">
                        <p>
                            <strong>Bitte beachten Sie:</strong><br>
                            Bitte geben Sie den Grund in den Zusatzinformationen mit an.
                        </p>
                    </div>
                </div>
            </div>

            <div class="formRow">
                <div class="select-container">
                    <label for="ctrl_hvzLength" class="placeholder">Länge</label>
                    <select id="ctrl_hvzLength" class="select" name="hvzLength">
                        <option value="5">5m</option>
                        <option value="10">10m</option>
                        <option selected="selected" value="15">15m</option>
                        <option value="20">20m</option>
                    </select>
                </div>
            </div>


            <div class="formRow">
                <div class="select-container">
                    <label for="ctrl_hvzCarType" class="placeholder">Fahrzeugtyp</label>
                    <select id="ctrl_hvzCarType" class="select" name="hvzCarType">
                        <option value="5" selected="selected">Fahrzeug bis 3,5t</option>
                        <option value="10">Fahrzeug größer 3,5t</option>
                    </select>
                </div>
            </div>

            <div class="formRow">
                <div class="select-container">
                    <i class="fas fa-info-circle input-unity"
                       data-toggle="popover"
                       data-placement="auto"
                       data-original-title="Grund für die Stellung"
                       data-content="Extrakosten <strong>+{{ extraKostenDoppelseitig }} €</strong>"
                    ></i>
                    <label for="ctrl_hvzType" class="placeholder">Beschilderung</label>
                    <select id="ctrl_hvzType" class="select" name="hvzType">
                        <option value="einseitig" selected="selected">einseitig</option>
                        <option value="beidseitig">beidseitig (+ {{ extraKostenDoppelseitig|number_format(2, ',') }}€)</option>
                    </select>
                </div>
            </div>

        </fieldset>


        <fieldset id="hvzAdditionalInfos">
            <legend><label for="ctrl_hvzAdditionalText">Zusatzinformationen</label></legend>
            <textarea cols="40" rows="6" class="textarea" id="ctrl_hvzAdditionalText"
                      placeholder="evtl. weitere Informationen zur Aufstellung" name="Zusatzinformationen"></textarea>
        </fieldset>

        <fieldset id="billingData" class="twoInOne">
            <legend>Rechnungsadresse</legend>

            <div class="formRow">
                <div class="select-container">
                    <i id="genderIcon" class="fas fa-genderless input-unity"></i>
                    <label for="ctrl_gender" class="placeholder gender">Anrede</label>
                    <select id="ctrl_gender" class="select">
                        <option value="" selected="selected" disabled>Bitte wählen:</option>
                        <option value="Herr">Herr</option>
                        <option value="Frau">Frau</option>
                    </select>
                </div>
            </div>

            <div class="formRow empty">
                <label for="ctrl_billingOrganization" class="placeholder">Firma</label>
                <input type="text" value="" class="text" id="ctrl_billingOrganization" name="organization" autocomplete="organization">
            </div>
<!--
            <div class="" id="umstElement" style="display: none;">
                <label for="umstid" class="placeholder">USt-IdNr.</label>
                <input type="text" value="" placeholder="USt-IdNr. (optional)" class="text" id="umstid" name="umstid">
            </div>
-->

            <div class="formRow empty">
                <label for="ctrl_familyName" class="placeholder">Name</label>
                <input type="text" id="ctrl_familyName" class="text mandatory" required name="family-name"
                       autocomplete="family-name">
            </div>
            <div class="formRow empty">
                <label for="ctrl_givenName" class="placeholder">Vorname</label>
                <input type="text" id="ctrl_givenName" class="text mandatory" required name="given-name"
                       autocomplete="given-name">
            </div>

            <div class="formRow empty">
                <i class="fas fa-map-marked-alt input-unity"></i>
                <label for="ctrl_billingStreet" class="placeholder">Strasse/Hausnummer</label>
                <input type="text" class="text mandatory" required id="ctrl_billingStreet" name="address-line1"
                       autocomplete="address-line1">
            </div>

            <div class="formRow empty">
                <i class="fas fa-map-marker-alt input-unity"></i>
                <label for="ctrl_billingCity" class="placeholder">Ort / PLZ</label>
                <input type="text" class="text mandatory" required id="ctrl_billingCity" name="postal-code_address-level2"
                       autocomplete="postal-code address-level2">
            </div>


            <div class="formRow empty">
                <i class="fas fa-at input-unity"></i>
                <label for="ctrl_eMail" class="placeholder">E-Mail-Adresse</label>
                <input type="email" class="text mandatory" required id="ctrl_eMail" name="email" autocomplete="email">
            </div>


            <div class="formRow empty">
                <i class="fas fa-phone-alt input-unity"></i>
                <label for="ctrl_billingTel" class="placeholder">Telefon</label>
                <input type="tel" class="text mandatory" required id="ctrl_billingTel" name="home tel" autocomplete="home tel">
            </div>

        </fieldset>

        <fieldset id="agbChecking">

            <div class="checkbox-container">
                <input type="checkbox" required id="ctrl_agb" class="input-checkbox">
                <label for="ctrl_agb" class="label-checkbox">Ich erkläre mich mit den <a target="_blank"
                                                                                                     href="/extern/page/agb/#top">AGB</a>
                    und den <a target="_blank" href="/extern/page/datenschutzerklaerung/#top">Datenschutzrichtlinien</a>
                    einverstanden</label>
            </div>

            <div class="" id="orderOverview" style="width: 100%;">
            </div>

            <div class="" style="width: 100%;">
                <input id="orderBtn" type="submit" class="button-primary font-bold float-right"
                       value="Halteverbot bestellen">
            </div>

        </fieldset>
    </div>
</form>


