<script src="{{ asset('bundles/chuckkihvziframe/js/datepicker-de.js') }}"></script>


<script>

    let inputEl = $(".formbody input");
    let dateInputEl = $("#startDateInput");
    let picker = $(".datepicker__modal");

    inputEl.focus(function () {
        $(this).parent().removeClass('empty');
    });
    inputEl.focusout(function () {
        if (!$(this).val()) {
            $(this).parent().addClass('empty');
        }
    });

    dateInputEl.focus(function () {
        $(this).parent().addClass('notempty');
    });

    inputEl.on("change, focusout, blur", function () {
        if ($(this).val() === "") {
            $(this).parent().addClass('empty');
        }
    });

    function cancelSelection() {
        picker.hide();
    }

    dateInputEl.click(function () {
        picker.show();
        picker.focus();
    });


    $("#gender").on("change", function () {
        let el = $("#genderIcon");
        el.removeClass('fa-genderless');
        if ($(this).val() === 'Herr') {
            el.addClass('fa-male');
            el.removeClass('fa-female');
        } else {
            el.addClass('fa-female');
            el.removeClass('fa-male');
        }
    });

    //Preis berechnen

    $('#extraTag, #hvzType').on('change',function () {
        updatePrice()
    });

    function updatePrice(){
        let startDate = $("#startDateInput");
        let priceData = {
            'hvzId': '{{ hvz.id }}',
            'extraTag': $( "#extraTag option:selected" ).val(),
            'hvzType': $( "#hvzType option:selected" ).val(),
            'startDate': startDate.val()
        };

        if(startDate.val() !== ''){
            $( "#orderOverview" ).load( "/extern/getprice/{{ hvz.id }}", priceData, function(data) {
                //console.log(data);
            });
        }
    }

</script>

<form action="" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="formbody">
        <input type="hidden" name="FORM_SUBMIT" value="hvzOrderform">
        <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">

        <fieldset id="hvzAdresse">
            <legend>Adresse für das Halteverbot in {{ ort|raw }}</legend>
            <div class="formRow empty">
                <label for="hvzPlz" class="placeholder">PLZ von {{ ort|raw }}</label>
                <i class="fas fa-map-marker-alt input-unity"></i>
                <input type="tel" class="text mandatory" id="hvzPlz" name="PLF" required autocomplete="postal-code">
            </div>
            <div class="formRow empty">
                <label for="hzvAdress" class="placeholder">Straße und Hausnummer</label>
                <!--<i class="fas fa-road input-unity"></i>-->
                <i class="fas fa-map-marked-alt input-unity"></i>
                <input type="text" class="text mandatory" id="hzvAdress" required name="address-line1"
                       autocomplete="address-line1">
            </div>
        </fieldset>
        <fieldset id="hvzDatum">
            <legend>Wann soll die Halteverbotszone gestellt werden</legend>
            <div class="formRow empty">
                <label for="startDateInput" class="placeholder">Datum</label>
                <i class="far fa-calendar input-unity"></i>
                <input type="text" class="text mandatory" id="startDateInput" value="" required readonly name="vom">
            </div>
            <div class="datepicker__modal" id="vondatum_datepicker">
                <div id="datepicker__centered-container">
                    <div class="datepicker__tip-message">
                        <span class="tip-message__headline">TIPP</span>
                        <p class="tip-message__text">
                            Wählen Sie ein Startdatum für Ihre Halteverbotszone in {{ ort|raw }}. <br>Nachfolgend können
                            Sie noch die Dauer bzw. die Anzahl der gültigen Tage bestimmen.
                        </p>
                    </div>
                    <div id="startDateForHvz" class="spot-for-datepicker padding-horizontal-m padding-vertical-s">
                    </div>
                    <div class="datepicker__button-pane padding-right-l">
                        <button onclick="cancelSelection()" type="button">Schliessen</button>
                    </div>
                </div>
            </div>
            <div class="formRow">
                <div class="select-container">
                    <button class="fas fa-info-circle input-unity"
                            data-toggle="popover"
                            data-placement="auto"
                            data-original-title="Zeitraum"
                            data-content="Der oben angegebene Preis bezieht sich auf die Gültigkeit eines Tages. Ab dem zweiten Tag werden pro Tag Zusatzkosten in Höhe von <strong>{{ extraTag|number_format(2, ',') }} €</strong> erhoben."
                    ></button>
                    <label for="extraTag" class="placeholder">Zeitraum</label>
                    <select id="extraTag" class="select">
                        <option value="" disabled>Anzahl der Tage</option>
                        <option value="1" selected="">1 Tag</option>
                        <option value="2">2 Tage (+ {{ (1 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="3">3 Tage (+ {{ (2 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="4">4 Tage (+ {{ (3 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="5">5 Tage (+ {{ (4 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="6">6 Tage (+ {{ (5 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="7">7 Tage (+ {{ (6 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="8">8 Tage (+ {{ (7 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="9">9 Tage (+ {{ (8 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="10">10 Tage (+ {{ (9 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="11">11 Tage (+ {{ (10 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="12">12 Tage (+ {{ (11 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="13">13 Tage (+ {{ (12 * extraTag)|number_format(2, ',') }}€)</option>
                        <option value="14">14 Tage (+ {{ (13 * extraTag)|number_format(2, ',') }}€)</option>
                    </select>
                </div>
            </div>
            <div class="formRow">

                <div class="select-container">
                    <label for="startTime" class="placeholder">täglich von</label>
                    <select id="startTime" class="select">
                        <option value="7" selected=""> 7 Uhr</option>
                        <option value="8"> 8 Uhr</option>
                        <option value="9"> 9 Uhr</option>
                        <option value="10">10 Uhr</option>
                        <option value="11">11 Uhr</option>
                        <option value="12">12 Uhr</option>
                        <option value="13">13 Uhr</option>
                        <option value="14">14 Uhr</option>
                        <option value="15">15 Uhr</option>
                        <option value="16">16 Uhr</option>
                        <option value="17">17 Uhr</option>
                        <option value="18">18 Uhr</option>
                        <option value="19">19 Uhr</option>
                        <option value="20">20 Uhr</option>
                    </select>
                </div>

            </div>
            <div class="formRow">
                <div class="select-container">
                    <label for="endTime" class="placeholder">täglich bis</label>
                    <select id="endTime" class="select">
                        <option value="7"> 7 Uhr</option>
                        <option value="8"> 8 Uhr</option>
                        <option value="9"> 9 Uhr</option>
                        <option value="10">10 Uhr</option>
                        <option value="11">11 Uhr</option>
                        <option value="12">12 Uhr</option>
                        <option value="13">13 Uhr</option>
                        <option value="14">14 Uhr</option>
                        <option value="15">15 Uhr</option>
                        <option value="16">16 Uhr</option>
                        <option value="17">17 Uhr</option>
                        <option value="18">18 Uhr</option>
                        <option value="19" selected="">19 Uhr</option>
                        <option value="20">20 Uhr</option>
                    </select>
                </div>


            </div>
        </fieldset>
        <fieldset id="hvzDetails">
            <legend>Halteverbot Details</legend>

            <div class="formRow">
                <div class="select-container">
                    <i class="fas fa-info-circle input-unity"
                       data-toggle="popover"
                       data-placement="auto"
                       data-original-title="Grund für die Stellung"
                       data-content="Grund"
                    ></i>
                    <label for="hvzReason" class="placeholder">Grund für die Stellung</label>
                    <select id="hvzReason" class="select">
                        <option value="umzug" selected="">Umzug</option>
                        <option value="containergestellung">Containergestellung</option>
                        <option value="baustelle">Baustelle</option>
                        <option value="sonstiges">Sonstiges</option>
                    </select>
                </div>
                <div style="display: none">
                    <div id="grundAddon">
                        <p>
                            <strong>Bitte beachten Sie:</strong><br>
                            Bei Containergestellung und Baustellen können die Preise der Stadt variieren. Wir werden Sie
                            diesbezüglich
                            umgehend informieren.
                        </p>
                    </div>
                    <div id="grundSonstig">
                        <p>
                            <strong>Bitte beachten Sie:</strong><br>
                            Bitte geben Sie den Grund in den Zusatzinformationen mit an.
                        </p>
                    </div>
                </div>
            </div>

            <div class="formRow">
                <div class="select-container">
                    <label for="hvzLength" class="placeholder">Länge</label>
                    <select id="hvzLength" class="select">
                        <option value="5">5m</option>
                        <option value="10">10m</option>
                        <option selected="" value="15">15m</option>
                        <option value="20">20m</option>
                    </select>
                </div>
            </div>


            <div class="formRow">
                <div class="select-container">
                    <label for="hvzCatType" class="placeholder">Fahrzeugtyp</label>
                    <select id="hvzCatType" class="select">
                        <option value="5" selected>Fahrzeug bis 3,5t </option>
                        <option value="10">Fahrzeug größer 3,5t</option>
                    </select>
                </div>
            </div>

            <div class="formRow">
                <div class="select-container">
                    <i class="fas fa-info-circle input-unity"
                       data-toggle="popover"
                       data-placement="auto"
                       data-original-title="Grund für die Stellung"
                       data-content="Extrakosten <strong>+{{ extraKostenDoppelseitig }} €</strong>"
                    ></i>
                    <label for="hvzType" class="placeholder">Beschilderung</label>
                    <select id="hvzType" class="select">
                        <option value="einseitig" selected>einseitig</option>
                        <option value="beidseitig">beidseitig</option>
                    </select>
                </div>
            </div>

        </fieldset>


        <fieldset id="hvzAdditionalInfos">
            <legend><label for="hvzAdditionalText">Zusatzinformationen</label></legend>
            <textarea cols="40" rows="6" class="textarea" id="hvzAdditionalText"
                      placeholder="evtl. weitere Informationen zur Aufstellung" name="Zusatzinformationen"></textarea>
        </fieldset>

        <fieldset id="rechnungsadresse">
            <legend>Rechnungsadresse</legend>

            <div class="formRow">
                <div class="select-container">
                    <label for="gender" class="placeholder gender">Anrede</label>
                    <i id="genderIcon" class="fas fa-genderless input-unity"></i>
                    <select id="gender" class="select">
                        <option value="" selected disabled>Bitte wählen:</option>
                        <option value="Herr">Herr</option>
                        <option value="Frau">Frau</option>
                    </select>
                </div>
            </div>
            <div class="formRow empty">
                <label for="familyName" class="placeholder">Name</label>
                <input type="text" id="familyName" class="text mandatory" required name="name" autocomplete="family-name">
            </div>
            <div class="formRow empty">
                <label for="givenName" class="placeholder">Vorname</label>
                <input type="text" id="givenName" class="text mandatory" required name="given-name" autocomplete="given-name">
            </div>

            <div class="formRow empty">
                <label for="billingStreet" class="placeholder">Strasse/Hausnummer</label>
                <input type="text" class="text mandatory" required id="billingStreet" name="address-line1"
                       autocomplete="address-line1">
            </div>

            <div class="formRow empty">
                <label for="billingCity" class="placeholder">Ort / PLZ</label>
                <input type="text" class="text mandatory" required id="billingCity" name="PLZ" autocomplete="postal-code city">
            </div>


            <div class="formRow empty">
                <label for="eMail" class="placeholder">E-Mail-Adresse</label>
                <input type="email" class="text mandatory" required id="eMail" name="PLZ">
            </div>


            <div class="formRow empty">
                <label for="billingPlz" class="placeholder">Telefon</label>
                <input type="tel" class="text mandatory" required id="billingPlz" name="PLZ" autocomplete="home tel">
            </div>

            <div class="formRow empty">
                <label for="billingCompany" class="placeholder">Firma</label>
                <input type="text" value="" class="text" id="billingCompany" name="firma" autocomplete="city">
            </div>

            <div class="formRow empty" id="umstElement" style="display: none;">
                <label for="umstid" class="placeholder">USt-IdNr.</label>
                <input type="text" value="" placeholder="USt-IdNr. (optional)" class="text" id="umstid" name="umstid">
            </div>

        </fieldset>

        <fieldset id="rechnungsadresse">

            <div class="checkbox-container">
                <input type="checkbox" required id="example-form_input12" class="input-checkbox">
                <label for="example-form_input12" class="label-checkbox">Ich erkläre mich mit den <a target="_blank"
                                                                                                     href="/extern/page/agb/#top">AGB</a>
                    und den <a target="_blank" href="/extern/page/datenschutzerklaerung/#top">Datenschutzrichtlinien</a>
                    einverstanden</label>
            </div>

            <div class="" id="orderOverview" style="width: 100%;">
            </div>

            <div class=""  style="width: 100%;">
                <input id="orderBtn" type="submit" class="button-primary font-bold float-right" value="Halteverbot bestellen">
            </div>

        </fieldset>
    </div>
</form>


