<div class="" id="orderOverview" style="width: 100%;">
    <div class="border-vertical" data-qa-regression="borders_drawing_vertical">
        <h4>Bestellübersicht</h4>
        <div id="orderList">
            <div id="orderDetails">
                <strong>{{ order.hvzTitel }}e Halteverbotszone in {{ order.ort|raw }}</strong>
                <span>von {{ order.startDateName }} den {{ order.startDateValue }} bis einschließlich {{ order.endDateName }}
                    den {{ order.endDateValue }} ({{ order.durationDay }} {{ order.day }})</span>
            </div>
            <div id="priceList">

                <table>
                    <tbody>
                    <tr>
                        <td class="hvzName">{{ order.hvzTitel }}es Halteverbot inkl. Genehmigung und Beschilderung</td>
                        <td class="hvzPreis">{{ order.priceHvz|number_format(2, ',') }} €</td>
                    </tr>
                    <tr class="tagPreis">
                        <td class="tageDesc">Zuschlag für Zusatztag pro Tag {{ order.priceExtraTag }} € x {{ order.extraTag }} Tage</td>
                        <td class="tagePreis">+ {{ order.calcPriceExtraTag|number_format(2, ',') }} €</td>
                    </tr>
                    <tr class="sumPreis">
                        <td><strong>Endpreis</strong>
                            <small>(16% MwSt enthalten)</small>
                        </td>
                        <td class="gesamtPreis"><strong>{{ order.priceFull|number_format(2, ',') }} € </strong></td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
